<!doctype html>
<html lang="de">
{% load url from future %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}Initiativkomitee für mehr Kuchen an der HSR{% endblock %}</title>
    <meta name="author" content="Initiativ- und Gründungskomitee der Kucheninitiative">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nobile|Lobster" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

</head>

<body class="{% block bodyclass %}{% endblock %}">
<div id="page">
    <div id="header">
        <a class="headertitlelink" href="{% url 'home' %}"><h1 class="headertitle">Kucheninitiative</h1></a>
        <ul id="nav">
            <li><a class="rules" href="{% url 'rules' %}">Regeln</a></li>
            <li><a class="members" href="{% url 'members' %}">Mitglieder</a></li>
            <li><a class="schedule" href="{% url 'schedule' %}">Planung</a></li>
            <li><a class="admin" href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div id="main" class="hyphenate">
        {% block content %}{% endblock %}
    </div>
</div>
<script src="{{ STATIC_URL }}js/scripts.js"></script>
<script src="{{ STATIC_URL }}js/hyphenator.js"></script>
</body>
</html>
