{% extends 'front/base.html' %}
{% load url from future %}

{% block bodyclass %}home{% endblock %}

{% block content %}

<h1>Willkommen{% if user.is_authenticated and user.first_name %}, {{ user.first_name }}{% endif %}!</h1>

<p>Dies ist das digitale Zuhause der "Initiative für mehr Kuchen an der HSR".
Dies ist auch der zentrale Dreh- und Angelpunkt, um die Initiative mit ihren
inzwischen {{ membercount }} Mitgliedern zu koordinieren.</p>

<p>Personen, welche die Initiative noch nicht kennen, oder auch Neumitglidern,
werden wärmstens die <a href="{% url 'rules' %}">Regeln</a> ans Herz
gelegt.</p>

<p>Aktivmitglieder hingegen sollten regelmässig die
<a href="{% url 'schedule' %}">Kuchen-Termine</a> konsultieren.</p>

<p>Falls du Fragen hast oder der Initiative beitreten willst, sende eine Email
an {{ 'dbargen@hsr.ch'|urlize }}, {{ 'jfurrer@hsr.ch'|urlize }} und/oder
{{ 'cfaessle@hsr.ch'|urlize }}.</p>

{% endblock %}
