{% extends 'front/base.html' %}
{% block bodyclass %}members{% endblock %}
{% block content %}
    <h1>Mitglieder</h1>

    <p>Die Mobiltelefon-Nummer wird hier lediglich publiziert, um die Person im
    WhatsApp identifizieren zu können. Für einen Eintrag in die WhatsApp-Gruppe
    melde man sich bei einem Mitglied das bereits der Gruppe zugehörig ist.</p>

    <table>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Studiengang</th>
            <th>Email</th>
            <th>Natel</th>
        </tr>
        {% for member in object_list %}
            <tr>
                <td>{{ member.pk }}</td>
                <td>{{ member.first_name }} {{ member.last_name }}</td>
                <td>{{ member.get_profile.get_course_display }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.get_profile.phone }}</td>
            </tr>
        {% endfor %}
    </table>

    <ul>
    </ul>
{% endblock %}
