{% extends 'front/base.html' %}

{% block content %}
    <h1>Regelwerk</h1>

    <h2>Zweck</h2>

    <p>Die Initiative für mehr Kuchen an der HSR ist eine
    solidarisch-gemeinschafliche Vereinigung zur Steigerung des allgemeinen
    Wohlbefindens durch erhöhten und regelmässigen Kuchengenuss an der HSR.</p>

    <h2>Regeln</h2>

    <p>Jedes Mitglied ist verpflichet an den durch das Komitee bestimmten
    Terminen einen selbstgebackenen Kuchen an die HSR zu bringen. Der Kuchen
    steht dann allen Mitgliedern zum Verzehr zur Verfügung.</p>

    <p>Der Kuchen soll zu Zeiten und an Orten die möglichst vielen Mitgliedern
    den Genuss erlauben serviert werden. Üblicherweise ist dies die HSR
    Cafeteria in den Pausen. Ansonsten können die Mitglieder auch per HSR-Mail
    kontaktiert werden.</p>

    <p>Ziel eines jeden Mitgliedes sollte sein, die Qualität des vorigen
    Kuchens zu übertreffen.</p>

    <p>Jedes Mitglied darf neue Mitglieder anwerben in dem es potentiellen
    Neumitgliedern Kuchen anbietet, allerdings muss das potentielle Neumitglied
    zuvor über die Rechte und Pflichten aufgeklärt werden.</p>

    <p>Grundsätzlich soll Kuchen der für die Inititative gebacken wird auch nur
    von Mitgliedern gegessen werden, wer mitisst wird automatisch Mitglied,
    Ausnahmen von dieser Regel sollte es nur in den seltensten Fällen geben und
    müssen grundsätzlich mit dem Komitee besprochen werden.</p>

    <h2>Regelmissachtungen</h2>

    <p>Regelmissachtungen werden durch die Mitglieder geahndet und adäquat
    bestraft. Die einzige nicht erlaubte Strafe ist der Auschluss aus der
    Initiative.</p>

    <h2>Organe</h2>

    <p>Die Inititative für mehr Kuchen an der HSR besteht aus aus folgenden Organen:</p>
    <ul>
        <li>Initiativ- und Gründungskomitee (Danilo, Christian, Jonas)</li>
        <li>Aktivmitglieder (siehe Mitgliederliste)</li>
        <li>Kuchen</li>
    </ul>

    <h2>Beitritt</h2>

    <p>Es gibt zwei Möglichkeiten der Initiative beizutreten:</p>
    <ul>
        <li>Durch den Konsum von Kuchen, welcher von einem Initiativ-Mitglied
        gebacken wurde, wird man automatisch ein Aktivmitglied der Initiative
        und untersteht den zuvor genannten Regeln.</li>
        <li>Durch das Bekunden des Willens zum Beitritt beim Initiativkomitee
        wird man per sofort aktives Mitglied und untersteht den zuvor genannten
        Regeln.</li>
    </ul>

    <h2>Austritt</h2>

    <p>Austritt aus der Initiative kann nur durch Ableben des betreffenden
    Mitglieds oder durch den Austritt aus der HSR erfolgen.</p>

{% endblock %}
