{% extends 'front/base.html' %}
{% load lookup %}

{% block bodyclass %}schedule{% endblock %}

{% block content %}
    <h1>Kuchenplanung</h1>

    {% for semester, dates in semesters %}
        <h2>{{ semester.get_season_display }} {{ semester.year }}</h2>

        <table>

            <tr>
                <th>Datum</th>
                <th>Zuständige(r)</th>
            </tr>

            {% for date in dates %}

                {% ifchanged date.isocalendar.1 %}
                    <tr class="weekheader"><td colspan="2">Woche {{ date.isocalendar.1 }}</td></tr>
                {% endifchanged %}

                {% if date.isoweekday in semester.weekday_list %}
                    <tr class="weekday">
                        <td class="date">{{ date|date:"D, d.m." }}</td>
                        <td class="assigned">{% if assignments|lookup:date %}{{ assignments|lookup:date|join:", " }}{% endif %}</td>
                    </tr>
                {% endif %}

            {% endfor %}

        </table>

    {% endfor %}

{% endblock %}
