{% extends 'front/base.html' %}
{% load url from future %}

{% block bodyclass %}stats{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
    <script src="{{ STATIC_URL }}js/d3.legend.js"></script>
    <script src="{{ STATIC_URL }}js/charts/members_per_course_pie.js"></script>
    <script src="{{ STATIC_URL }}js/charts/cakes_per_member.js"></script>
{% endblock scripts %}

{% block content %}
    <h1>Statistiken</h1>

    <h2>Mitglieder pro Studiengang</h2>
    <p>Gesamtanzahl Mitglieder: {{ membercount }}.</p>
    <div id="members_per_course"></div>

    {% if not user.is_authenticated %}
        <h2>Weitere Statistiken</h2>
        <p>Um mehr Statistiken zu sehen, <a href="{% url 'django.contrib.auth.views.login' %}">logge dich bitte ein</a>.</p>
    {% else %}
        <h2>Kuchen pro Mitglied</h2>
        <p>Berücksichtigt werden alle Kuchen seit Semesterbeginn.</p>
        <div id="cakes_per_member"></div>
        {% endif %}

{% endblock %}
